<main class="main">
    <div class="centered-container">
        <div class="dropdown-date-container">
            <div class="dropdown">
                <select (change)="onChannelChange($event)" class="channel-dropdown">
                  <option value="all">Усі канали</option>
                  <option *ngFor="let channel of channels" [value]="channel">{{ channel }}</option>
              </select>
            </div>

            <div class="dropdown">
                <select (change)="onModelChange($event)" class="channel-dropdown">
                  <option value="all">Модель</option>
                  <option *ngFor="let model of models" [value]="model">{{ model }}</option>
              </select>
            </div>

            <!-- Поля для вибору діапазону дат -->
            <div class="date-picker">
                <input type="date" id="start-date" (change)="onStartDateChange($event)">
            </div>
            <div class="date-picker">
                <input type="date" id="end-date" (change)="onEndDateChange($event)">
            </div>

            <div class="search-button">
                <button class="btn-search" (click)="onSearch()">Search</button>
            </div>

            <div class="search-button">
                <button class="btn-search" (click)="onDownloadCSV()">ODCR</button>
            </div>

            <div class="clear-db">
                <button class="clear-db" (click)="onClearDB()">Clear DB</button>
            </div>
        </div>

        <div class="popup">
              <div class="messages" *ngIf="showMessages">
                  <div *ngFor="let post of filteredPosts" class="message">
                      <div class="message-content">
                          <p class="text">{{ post.Message }}</p>
                          <p class="date">{{ post.MessageDate | date }}</p>
                      </div>
                  </div>
              </div>

              <div class="messages" *ngIf="!showMessages">
                <div *ngFor="let odsr of odsrs.slice().reverse()" class="message">
                  <div class="message-content">
                    <p class="text"><b>Observation:</b> {{ odsr.Observation }}</p>
                    <p class="text"><b>Discussion:</b> {{ odsr.Discussion }}</p>
                    <p class="text"><b>Conclusion:</b> {{ odsr.Conclusion }}</p>
                    <p class="text"><b>Recommendation:</b> {{ odsr.Recommendation }}</p>
                    <p class="date">{{ odsr.MessageDate | date }}</p>
                  </div>
                </div>
              </div>
          </div>

          <div class="toggle-view">
              <button class="btn-toggle" (click)="toggleView()">
                  {{ showMessages ? 'Show ODSR' : 'Show Messages' }}
              </button>
          </div>
      </div>
</main>
