<main class="main">
    <div class="centered-container">
        <div class="dropdown-date-container">
            <div class="dropdown">
                <select (change)="onChannelChange($event)" class="channel-dropdown">
                  <option value="all">Усі канали</option>
                  <option *ngFor="let channel of channels" [value]="channel">{{ channel }}</option>
              </select>
            </div>

            <div class="dropdown">
                <select (change)="onModelChange($event)" class="channel-dropdown">
                  <option value="all">Модель</option>
                  <option *ngFor="let model of models" [value]="model">{{ model }}</option>
              </select>
            </div>

            <!-- Поля для вибору діапазону дат -->
            <div class="date-picker">
                <input type="date" id="start-date" (change)="onStartDateChange($event)">
            </div>
            <div class="date-picker">
                <input type="date" id="end-date" (change)="onEndDateChange($event)">
            </div>

            <div class="search-button">
                <button class="btn-search" (click)="onSearch()">Search</button>
            </div>

            <div class="search-button">
                <button class="btn-search" (click)="onDownloadCSV()">ODCR</button>
            </div>

            <div class="clear-db">
                <button class="clear-db" (click)="onClearDB()">Clear DB</button>
            </div>
        </div>

        <div class="popup">
            <div class="messages">
                <div *ngFor="let post of filteredPosts" class="message">
                    <div class="message-content">
                        <p class="text">{{ post.Message }}</p>
                        <p class="date">{{ post.MessageDate | date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>